*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: #fff;
  font-family: "Poppins", sans-serif;
}

/* Loading */
/* .loading {
  position: absolute;
  font-size: 50px;
  font-weight: 600;
  color: #fff;
  bottom: -200px;
}
.container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .ring {
  position: relative;
  width: 150px;
  height: 150px;
  margin: -30px;
  border: 4px solid transparent;
  border-radius: 50%;
  border-top: 4px solid #24ecff;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.container .ring:nth-child(2) {
  animation: animate2 2s linear infinite;
  border-top: 4px solid transparent;
  border-left: 4px solid #93ff2d;
}

.container .ring:nth-child(3) {
  animation: animate2 2s linear infinite;
  animation-delay: -3s;
  border-top: 4px solid transparent;
  border-left: 4px solid #e41cf8;
  position: absolute;
  top: -66.6%;
}

.container .ring::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  width: 15px;
  height: 15px;
  background: #24ecff;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #24ecff33, 0 0 0 10px #24ecff22, 0 0 0 20px #24ecff11,
    0 0 20px #24ecff, 0 0 50px #24ecff;
}

.container .ring:nth-child(2):before {
  content: "";
  position: absolute;
  top: initial;
  bottom: 12px;
  left: 12px;
  width: 15px;
  height: 15px;
  background: #93ff2d;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #93ff2d33, 0 0 0 10px #93ff2d22, 0 0 0 20px #93ff2d11,
    0 0 20px #93ff2d, 0 0 50px #93ff2d;
}

.container .ring:nth-child(3):before {
  content: "";
  position: absolute;
  top: initial;
  bottom: 12px;
  left: 12px;
  width: 15px;
  height: 15px;
  background: #e41cf8;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #e41cf8, 0 0 0 10px #e41cf822, 0 0 0 20px #e41cf811,
    0 0 20px #e41cf8, 0 0 50px #e41cf8;
}

#parallelogram {
  width: 150px;
  height: 50px;
  transform: skew(-20deg);
  border: 2px solid #e41cf8;
} */

/* Blob image */
/* .blob {
  overflow: hidden;
  background: #8f44fd
    url(https://upload.wikimedia.org/wikipedia/commons/1/1a/24701-nature-natural-beauty.jpg);
  height: 16rem;
  width: 16rem;
  background-size: cover;
  border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
  background-position: center;
  animation: morph 3.75s linear infinite;
}

@keyframes morph {
  0%,
  100% {
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
  }
  33% {
    border-radius: 72% 28% 48% 48% / 28% 28% 72% 72%;
  }
  66% {
    border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%;
  }
} */

.card {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 20px;
  margin-top: 200px;
  border-radius: 20px;
  transition: 0.5s;
  transition-delay: 0.5s;
  justify-content: center;
  align-items: center;
}

.card:hover {
  width: 600px;
  transition-delay: 0.5s;
}

.card .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card .circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr);
  clip-path: circle(120px at center);
  transition: 0.5s;
}

.card:hover .circle::before {
  clip-path: circle(400px at center);
}

.card .circle .logo {
  position: relative;
  width: 200px;
  z-index: 9;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.card:hover .circle .logo {
  transform: scale(0);
  transition-delay: 0s;
}

.content {
  position: relative;
  width: 50%;
  left: 20%;
  padding: 20px 20px 20px 40px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.card:hover .content {
  left: 0;
  opacity: 1;
  visibility: visible;
  transition-delay: 1s;
}

.content h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1em;
}

.content p {
  color: #fff;
}

.content a {
  position: relative;
  color: #111;
  background: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
}

.card .product-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  height: 500px;
  transition: 0.5s;
}

.card:hover .product-img {
  left: 72%;
  transform: translate(-50%, -50%) scale(1);
  transition-delay: 0.5s;
}
